body {
    margin: 0;
    padding: 0;
    background-color: #b3e6ff; /* Fondo celeste */
    font-family: Arial, sans-serif;
    text-align: center;
}

.contenedor {
    padding: 30px;
    justify-content: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #222;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #222;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.moto {
    max-width: 350px;
    margin: 20px auto;
    display: block;
}
.Moto_principal {
    float: left;
    max-width: 400px;
}
.btn_principal {
    float: center;
    background: linear-gradient(#2a70c9, #1e5aa8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.btn {
    background: linear-gradient(#2a70c9, #1e5aa8);
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(#1e5aa8, #2a70c9);
    transform: scale(1.05);
}

.footer {
    margin-top: 40px;
    font-size: 12px;
    color: #555;
}
